<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
<meta charset="ISO-8859-1">

<title>Creer une annonce</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<link rel="stylesheet" href="../css/style_user.css">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>
<body style="overflow-x: hidden;">
	<header class="header">
		<nav class="navbar navbar-expand-lg navbar-light  bg-light">
			<a class="navbar-brand" href="/"> <img src="/ressource/logo.png"
				class="px-3">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav">
					<li class="nav-item active"><a class="nav-link"
						href="/utilisateur/ajoute-annonce">Créer une Annonce</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/utilisateur/liste-annonce">Mes Annonces <span
							class="sr-only">(current)</span></a></li>
					<li class="nav-item"><a class="nav-link"
						href="/utilisateur/mesinfos">Mes Informations <span
							class="sr-only">(current)</span></a></li>

				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a
						class="btn btn-outline-info my-2 my-sm-0" type="submit"
						href="/deconnecter">Deconnexion</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<!-- fin de header -->
<body>
	<div class="container">
		<br>
		<div class="container">
			<h3 class="display-4 pl-5 ml-5">&emsp;&emsp;&emsp;&emsp;Créer
				une annonce</h3>
		</div>
		<div class="row">
			<div class="pl-5"></div>




			<form enctype="multipart/form-data" class="formAnnonce col-12"
				action="#" th:action="@{/utilisateur/ajoute-annonce}"
				th:object="${annonce}" method="post" id="myform">
				<br>
				<div class="form-group ">
					<label for="exampleFormControlInput1">Designation</label> <input
						type="text" class="form-control" id="exampleFormControlInput1"
						placeholder="Designation" name="Designation"
						th:field="*{Designation}">

				</div>
				<div class="form-group ">
					<label for="exampleFormControlInput1">Prix</label> <input
						type="number" step="any" class="form-control" placeholder="Prix"
						name="prix" th:field="*{Prix}" id="prix" required>
				</div>
				<div class="form-group">
					<label for="exampleFormControlSelect1">Categories</label> <select
						class="form-control" name="categorie" th:field="*{categorie}"
						value="" id="categorie" required>
						<option value="Informatique et multimedia">Informatique
							et multimedia</option>
						<option value="vehicules">vehicules</option>
						<option value="Immobiler">Immobiler</option>
						<option value="pour la maison et jardin">pour la maison
							et jardin</option>
						<option value="emploi et services">emploi et services</option>
						<option value="entreprises">entreprises</option>
						<option value="loisirs et divertissement">loisirs et
							divertissement</option>
						<option value="autres">autres</option>



					</select>
				</div>
				<div class="form-group">
					<label for="exampleFormControlInput1">Photo</label> <input
						type="file" class="form-control" id="exampleFormControlInput1"
						placeholder="Designation" name="photo" th:field="*{photoPart}"
						oninvalid="this.setCustomValidity('remplir la designation:')"
						required>

				</div>
				<div class="form-group">
					<label for="exampleFormControlTextarea1" required>Description</label>
					<textarea class="form-control" rows="3" name="description"
						th:field="*{description}" id="description" required></textarea>
				</div>
				<div class="input-group-append">
					<button onclick="myFunction()" class="btn btn-primary"
						type="submit">&emsp;&emsp;Envoyer&emsp;&emsp;</button>
				</div>

			</form>

			<br>
		</div>
	</div>
	<!-- form ajoute d'un annonce -->



	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>