<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">

<head>
<meta charset="ISO-8859-1">

<title>Modifier l'annonce</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet"
	th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<link rel="stylesheet" th:href="@{/css/style_user.css}">

</head>
<body style="overflow-x: hidden;">
	<header class="header">
		<nav class="navbar navbar-expand-lg navbar-light  bg-light">
			<a class="navbar-brand" href="/"> <img src="/ressource/logo.png"
				class="px-3">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link "
						href="/utilisateur/ajoute-annonce">Créer une Annonce</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/utilisateur/liste-annonce">Mes Annonces <span
							class="sr-only">(current)</span></a></li>
					<li class="nav-item"><a class="nav-link"
						href="/utilisateur/mesinfos">Mes Informations <span
							class="sr-only">(current)</span></a></li>

				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a
						class="btn btn-outline-info my-2 my-sm-0" type="submit"
						href="/deconnecter">Deconnexion</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<div class="alert alert-primary"></div>
	<h3 class="display-4 pl-5 ml-5 mt-4">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Modifier
		l'annonce</h3>
	<div class="container">
		<div class="row pb-5">
			<div class="col-2"></div>
			<form class="formAnnonce col-12"
				th:action="@{/utilisateur/liste-annonce}" th:object="${annonce}"
				method="post" id="myform">
				<br>
				<br> <input type="hidden" th:field="*{annonce_id}">

				<div class="form-group ">
					<label for="exampleFormControlInput1">Designation</label> <input
						type="text" th:field="*{designation}" class="form-control"
						id="exampleFormControlInput1" placeholder="Designation"
						name="Designation"
						oninvalid="this.setCustomValidity('remplir la designation:')"
						required>

				</div>
				<div class="form-group ">
					<label for="exampleFormControlInput1">Prix</label> <input
						type="number" step="any" class="form-control" th:field="*{prix}"
						placeholder="Prix" name="prix" id="prix" required /s>
				</div>
				<div class="form-group">
					<label for="exampleFormControlSelect1">Categories</label> <select
						class="form-control" name="categorie" th:field="*{categorie}"
						value="" id="categorie" required>
						<option value="Informatique et multimedia">Informatique
							et multimedia</option>
						<option value="vehicules">vehicules</option>
						<option value="Immobiler">Immobiler</option>
						<option value="pour la maison et jardin">pour la maison
							et jardin</option>
						<option value="emploi et services">emploi et services</option>
						<option value="entreprises">entreprises</option>
						<option value="loisirs et divertissement">loisirs et
							divertissement</option>
						<option value="autres">autres</option>

					</select>
				</div>

				<div class="form-group">
					<label for="exampleFormControlTextarea1" required>Description</label>
					<textarea class="form-control" rows="3" th:field="*{description}"
						name="description" id="description" required></textarea>
				</div>
				<div class="input-group-append">
					<button class="btn btn-outline-secondary" type="submit">Appliquer
						les modifications</button>
				</div>
			</form>
		</div>
	</div>



	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>