   <hr class="mt-0">
      <footer>
        <section>
          <img src="ressource/logo.png" class="logof">
          <p class="des"><strong>Mon Annonce</strong> | 1<sup>ère</sup> version.<p>
        </section>
        <ul class="ful"> 
          <h5>Sections principaux :</h5>
          <li><a class="text-secondary pl-4" href="/">Accueil</a></li>
          <li><a class="text-secondary pl-4" href="/presentation">Présentation</a></li>
          <li><a class="text-secondary pl-4" href="/decouvrir">Découvrir</a></li>
          <li><a class="text-secondary pl-4" href="/contact">Contactez nous</a></li>
        </ul>
        <section class="bres">
          <h5 class="pb-4">Retrouvez-nous sur les réseaux sociaux :</h5>
          <section class="gres pl-4">
            <img src="ressource/face.png">
            <img src="ressource/twit.png">
          </section>
          <section class="gres pl-4">
            <img src="ressource/insta.png">
            <img src="ressource/yout.png">
          </section>
        </section>
      </footer>
      <hr class="hr mt-0"/>
      <p class=cop>Copyright &copy Royaume du Maroc - Ecole Nationale Supérieure d'Informatique et d'Analyse des Systèmes.</p>


     
  </body>
</html>