<div th:replace="haut.html (css='stylepre.css')"/>



   <section class="container px-0 pt-0 pb-5 m-0">
        <div class="backpre mt-0">
          <div class="py-4"></div>
          <div class="backpre2 p-4">
            <h3  class="display-4 text-center mt-4">Contactez-Nous</h3>
            <p class="text-center mt-5 mx-5">Pour toute information complémentaire, n'hésitez pas à nous contacter :</p>
            <p class="text-center">Adresse électronique : XXXXXXXXXXX@XXXXXXX</p>
            <p class="text-center">N° de téléphone : 06 XX XX XX</p>
          </div>
        </div>
   </section>

<div th:replace="bas.html"/>