<div th:replace="haut.html (css='stylepre.css')"/>


   <section class="container px-0 pt-0 pb-5 m-0">
        <div class="backpre mt-0">
          <div class="py-4"></div>
          <div class="backpre2 p-4">
            <h3  class="display-4 text-center mt-4">Présentation de Mon Annonce</h3>
            <p class="text-center mt-5 mx-5">Cette application web a été faite dans le cadre de notre projet Framework Web (Spring) à 
            l'Ecole Nationale Supérieure d'Informatique et d'Analyse des Systèmes ENSIAS. Ce projet consiste à créer une application web qui va servir à lier les vendeurs et les acheteurs à travers les annonces. Donc chaque personne pourra s'inscrire dans notre plateforme et diffuser son annonce pour que les autres visiteurs du site web puissent la visualiser.</p>
          </div>
        </div>
   </section>


<div th:replace="bas.html"/>